@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      --link-color: oklch(0.8 0.182 98.111);;
      --link-color-hover: oklch(0.7 0.182 98.111);
    }
}


body {
    background-color: #2c2a41;
    color: hsl(0, 0%, 88%);
    @apply text-base break-words mx-auto w-[45%];
}

header {
    border-color: hsla(0, 0%, 53%, 0.705);
    border-bottom-width: 0.1rem;
    @apply mt-[3rem] pb-5;
}

footer {
    border-color: hsla(0, 0%, 53%, 0.705);
    border-top-width: 0.1rem;
    @apply mb-[4rem] pt-4 break-words;
}


.md_content {
    @apply mt-[1rem] mb-[1rem];    
    
    ul {
        @apply -mt-4;
        p {
            @apply my-2;
        }
    }

    li::marker {
        content: "\2022   ";
    }

    li {
        margin-left: 1rem;
    }

    a {
    }

    a:hover {
    }

    p {
        @apply mb-4 mt-3;
    }

    h1 {
        @apply text-3xl font-semibold mb-2;
    }

    h2 {
        @apply text-2xl font-semibold mt-4 mb-1;
    }

    h3 {
        @apply text-xl font-semibold mt-1 mb-1;
    }

}

a {
    color: var(--link-color);
    svg {
        stroke: var(--link-color);
        width: 16px;
        height: 16px;
        @apply inline relative bottom-1;
    }
}
a:hover {
    color: var(--link-color-hover);
    svg {
        stroke: var(--link-color-hover);
    }
}
